@font-face {
  font-family: "Bareun_hipi";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/naverfont_01@1.0/Bareun_hipi.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Bareun_hipi", sans-serif;
  height: 100%;
}

/* 배경 이미지와 고정 설정 */
body {
  background-color: #fbfcf7;
}
